*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --first-color: rgb(236, 128, 55);
    --second-color: rgb(210, 199, 190);
    --hover-color: rgb(223, 104, 24);

}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 800px;
    font-size: 1.6rem;
    background-image: radial-gradient(circle, rgb(43, 44, 46)0%, rgb(25, 25, 25) 93%);
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    color: #fff;
    overflow: hidden;
}

.info-icon {
    position: absolute;
    top: 6px;
    padding: 20px;
    font-size: 2.4rem;
    color: var(--second-color);
    cursor: pointer;
    transition: color .3s;
}

.fa-question {
    right: 14px;
}

.fa-paintbrush {
    right: 60px;
}

.info-icon:hover {
    color: var(--hover-color);
}

.project-title {
    margin-bottom: 20px;
    font-size: 6rem;
    font-weight: lighter;
}

.stopwatch {
    font-size: 7.2rem;
    color: var(--first-color);
}

.time {
    visibility: hidden;
    color: var(--second-color);
    font-size: 2.2rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.stopwatch-btn {
    margin: 10px;
    padding: 10px 20px;
    width: 20%;
    color: #fff;
    font-size: 2.2rem;
    background-color: transparent;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.archive {
    flex-grow: 1;
    text-transform: uppercase;
}

.stopwatch-btn:hover,
.stopwatch-btn:focus {
    background-color: var(--hover-color);
    outline: none;
}

.time-list li {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 22px;
    color: var(--second-color);
}

.time-list span {
    font-weight: bold;
}

.modal-shadow {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 360px;
    padding: 30px 60px;
    border-radius: 15px;
    background-color: rgb(32, 32, 32);
    color: #fff
}

.modal-title {
    margin-bottom: 20px;
    font-size: 3rem;
}

.modal-item {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 2rem;
}

.modal-icon,
.modal-element {
    color: var(--first-color);
}

.close {
    display: block;
    margin: 40px auto 0;
    width: 200px;
    background-color: #333;
    transition: background-color .3s;
}

.close:hover {
    background-color: #111;
}

.modal-animation {
    animation: show-modal .5s;
}

@keyframes show-modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.colors {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 50px;
    width: 70px;
    height: 220px;
    transition: transform .3s;
}

.color {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .5s, box-shadow .5s;
}

.show-colors {
    transform: translateX(-110px);
}

.one {
    background-color: rgb(220, 156, 45);
    box-shadow: 0 0 8px rgb(236, 128, 55);
}

.two {
    background-color: rgb(6, 173, 250);
    box-shadow: 0 0 8px rgb(6, 173, 250);
}

.three {
    background-color: rgb(0, 255, 42);
    box-shadow: 0 0 8px rgb(0, 255, 42);
}

.one:hover {
    background-color: rgb(223, 104, 24);
    box-shadow: 0 0 16px rgb(223, 104, 24);
}

.two:hover {
    background-color: rgb(28, 145, 199);
    box-shadow: 0 0 16px rgb(6, 173, 250);
}

.three:hover {
    background-color: rgb(28, 209, 58);
    box-shadow: 0 0 16px rgb(0, 255, 42);
}